.wrap-caption {
    width: 70% !important;
}

.footer {
    background-color: #131e31;
}

.navbar-brand img {
    width: 100px;
}

.navbar-main.stiky .navbar-brand img {
    width: 100px;
}

.logo-bottom {
    width: 100px;
    display: block;
    margin: 50px;
}

.section-heading {
    font-size: 34px;
}

.ht {
    color: #223555;
}

.p-l p i {
    color: #b89b5e;
}

.p-l p {
    color: #223555;
}

.pt-150 {
    padding-top: 150px !important;
}

.logo-text {
    font-size: 24px;
    padding: 20px 0 30px 0;
    margin-bottom: 0;
    color: #b89b5e;
    font-family: "Lora", serif;
    font-weight: 700;
}

.goog-te-banner-frame.skiptranslate,
.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    font-size: 0 !important;
}

body {
    top: 0 !important;
}

.pp-heading {
    font-size: 25px;
    color: #223555;
}

.p-policy a {
    color: #223555;
}

body,
button,
input,
select,
textarea {
    color: #5e5e5e;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff !important;
}